@import url('https://fonts.googleapis.com/css2?family=Estonia&family=M+PLUS+1+Code&family=Montserrat&family=Roboto+Mono&display=swap');
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blue;

}
.display{
    background-color: red;
    display: flex;
    flex-direction: column;
}

#inputTxt{
    background-color: wheat;
    border: 2px solid ;
    height: 13vh;
    text-align: center;
    margin: auto;
    width: 50%;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}
.nav{
    margin-top: 2rem;
    background-color:navy;
    color: whitesmoke;
    padding: 10px;
    width: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 1rem;
    font-size: large;

}
.div{
    text-align: center;
    display: block;
    margin: 1rem 0 0 1rem;
}
#output{
    background-color: wheat;
    border: 2px solid ;
    height: 13vh;
    text-align: center;
    margin: auto;
    width: 50%;
    font-weight: bold;
}
.footer{
    text-align: center;
    margin: auto;
}
button{
    background-color: aqua;
    padding: 1rem;
    border-radius: 1rem;
}
