@import url('https://fonts.googleapis.com/css2?family=Estonia&family=M+PLUS+1+Code&family=Montserrat&family=Roboto+Mono&display=swap');
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea{
    background-color: yellow;
    width: 90%;
    display: block;
    margin: auto;
    height: 13vh;
    border: 5px solid  rgb(239, 4, 4);
    text-align: center;
    border-top-right-radius: 6rem;
    border-top-left-radius: 6rem;

}
.nav{
    background-color: rgb(85, 134, 199);
    padding: 1rem;
    margin: 0 0 2rem 0;
    text-align: center;
}
.div{
    text-align: center;
    display: block;
    margin: 1rem 0 0 1rem;
}
#output{
    background-color: yellow;
    border: 5px solid rgb(20, 230, 27);
    height: 13vh;
    text-align: center;
    margin: auto;
    display: block;
    width: 90%;
    font-size: x-large;
    font-weight: bold;
    border-bottom-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
}
.footer{
    text-align: center;
    margin: auto;
}
button{
    background-color: green;
    height: 4vh;
}